altgraph
cffi
charset-normalizer
cryptography
duckdb
et_xmlfile
openpyxl
packaging
pandas
pdfminer.six
pdfplumber
pefile
psutil
pathspec
pre-commit
pyarrow
pycparser
pyinstaller
pyinstaller-hooks-contrib
PyPDF2
pypdfium2
pywin32-ctypes
setuptools
wheel
PySide6
tqdm

# Added by Tinker installer (missing deps)
numpy
polars
fastexcel
xlsxwriter
jsonschema
pydantic
pyyaml
hypothesis
pytest
python-dateutil
