altgraph
cffi
charset-normalizer
cryptography
et_xmlfile
openpyxl
packaging
pandas
pdfminer.six
pdfplumber
pefile
pillow
psutil
pycparser
pyinstaller
pyinstaller-hooks-contrib
PyPDF2
pypdfium2
pywin32-ctypes
setuptools
wheel
PySide6
PySide6-Addons
tqdm